@font-face {
  font-family: "Amita-Regular";

  src: url("./Amita-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Amita-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Amita-Bold";

  src: url("./Amita-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Amita-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher-Regular";

  src: url("./Philosopher-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Philosopher-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Philosopher-Bold";

  src: url("./Philosopher-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Philosopher-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}